$color: #000000;

// reset

@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

body, div, p, h1, h2, h3, h4, h5, h6, button, pre, select, textarea, input {
  font-family: 'Coming Soon', cursive;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

p, div, h6 {
  font-size: 1em;
}

th, td, div {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

h5 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.8em;
}
h3 {
  font-weight: bold;
  font-size: 2.2em;
}
h2 {
  font-weight: bold;
  font-size: 2.6em;
}
h1 {
  font-weight: bold;
  font-size: 3.0em;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 0.25em;
}

// responsive

body {
  min-width: 320px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.25em 0.25em 0.25em 0.25em;
  box-sizing: content-box;
}

// header and footer

body {
  background: $color;
}

.head, .foot {
  background: $color;
  color: invert($color);
  a, a:visited {
    color: invert($color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  a + a {
    padding-left: 1em;
  }

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// body
.body {
  background: invert($color);
  color: $color;
  padding: 0.25em 0.25em 0.25em 0.25em;

  a, a:visited, .link {
    color: $color;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover, .link:hover {
    text-decoration: underline;
  }

  label {
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: invert($color);
    color: $color;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1em;
  }

  button, input[type="text"], input[type="checkbox"], select, textarea {
    @extend label;
    border: 2px solid lighten($color, 20%);
    resize: none;
  }

  input:invalid {
    border-color: red;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .body p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  // items
  
  .item {
    min-height: 1em;
  }
  
  .item .toolbar {
    display: none;
  }

  .item:hover {
    border: 2px dashed $color;
    .toolbar {
      display: block;
    }
  }

  .progress {
    background: lighten($color, 70%);
    border: 1px solid $color;
    color: $color;
    .bar {
      padding: 5px 5px 5px 5px;
      background: invert($color);
      display: inline-block;
      border-right: 2px solid $color;
    }
  }

}

// print and special media

@media print {
  .noprint {
    display: none;
  }
  .head a {
    color: $color;
  }
}
