@import url("https://fonts.googleapis.com/css?family=Coming+Soon");
body, div, p, h1, h2, h3, h4, h5, h6, button, pre, select, textarea, input {
  font-family: 'Coming Soon', cursive;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

p, div, h6 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

h5 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.8em;
}

h3 {
  font-weight: bold;
  font-size: 2.2em;
}

h2 {
  font-weight: bold;
  font-size: 2.6em;
}

h1 {
  font-weight: bold;
  font-size: 3.0em;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 0.25em;
}

body {
  min-width: 320px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.25em 0.25em 0.25em 0.25em;
  box-sizing: content-box;
}

body {
  background: #000000;
}

.head, .foot {
  background: #000000;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.head a, .head a:visited, .foot a, .foot a:visited {
  color: white;
  text-decoration: none;
}

.head a:hover, .foot a:hover {
  text-decoration: underline;
}

.head a + a, .foot a + a {
  padding-left: 1em;
}

.body {
  background: white;
  color: #000000;
  padding: 0.25em 0.25em 0.25em 0.25em;
}

.body a, .body a:visited, .body .link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.body a:hover, .body .link:hover {
  text-decoration: underline;
}

.body label, .body button, .body input[type="text"], .body input[type="checkbox"], .body select, .body textarea {
  font-weight: bold;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background: white;
  color: #000000;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1em;
}

.body button, .body input[type="text"], .body input[type="checkbox"], .body select, .body textarea {
  border: 2px solid #333333;
  resize: none;
}

.body input:invalid {
  border-color: red;
}

.body button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.body .body p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.body .item {
  min-height: 1em;
}

.body .item .toolbar {
  display: none;
}

.body .item:hover {
  border: 2px dashed #000000;
}

.body .item:hover .toolbar {
  display: block;
}

.body .progress {
  background: #b3b3b3;
  border: 1px solid #000000;
  color: #000000;
}

.body .progress .bar {
  padding: 5px 5px 5px 5px;
  background: white;
  display: inline-block;
  border-right: 2px solid #000000;
}

@media print {
  .noprint {
    display: none;
  }
  .head a {
    color: #000000;
  }
}
